<%= form_for [Bence.first, @work] do |f| %>
  <div class="fields">
    <%= f.label :name, value: "Title" %>
    <%= f.text_field :name %>
  </div>
  <div class="fields">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="fields">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="fields">
    <%= f.label :start_date, value: "Start year" %>
    <%= f.text_field :start_date %>
  </div>
  <div class="fields">
    <%= f.label :end_date, value: "End year" %>
    <%= f.text_field :end_date %>
  </div>
  <div class="fields">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
